body{
    background-color: rgb(0, 0, 0);
    margin-left: 60px;
    margin-right: 60px;
}

h1{
    font-size: 60px;
    color: rgb(0, 0, 0);
}
h3{
    font-size: 40px;
    color: aliceblue;
}

.sobre div div{
    margin-bottom: 50px;
}









/*menu*/
 :root{
     --co-fundo : rgb(253, 253, 253);
     --co-principal : rgb(218, 168, 32);
     --co-hover : rgb(24, 24, 24);
 }
.dp-menu ul{
    list-style-type: none;
    padding: 0px;
}
.dp-menu ul{
    background-color: var(--co-fundo);
}
.dp-menu li{
    display: inline;
    position: relative;
}
.dp-menu ul li a{
    color: var(--co-principal);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    transition: background 3.s;
}
.dp-menu ul li a:hover{
    background-color: var(--co-hover);
}
/*hover*/
.dp-menu ul ul{
    display: none;
    position: absolute;
    opacity: 0;
    transition: background all 3.s;
}

.dp-menu ul ul{
    width: 150px;
}
.dp-menu ul ul li a{
    display: block;
}
.dp-menu ul li {
font-size: 30px;
}